.paper-slider-container {
  position: relative;
  height: 32px;
  width: 100%;

  .bar-container {
    position: absolute;
    top: 0;
    left: 16px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
   }
  .bar-container > .progress {
    position: absolute;
    top: 15px;
    left: 0;
    height: 2px;
    width: 100%;
    padding: 8px 0;
    margin: -8px 0;
  }
  .slider-knob {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
  }

  .transiting > .slider-knob {
    transition: left 0.08s ease;
  }

  .slider-knob-inner {
    moz-box-sizing: border-box;
    border-radius: 50%;
    background-color: #3f51b5;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    transition: height 0.18s ease, width 0.18s ease;
  }
  .slider-knob-inner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 26px;
    margin-left: 3px;
    border-radius: 50% 50% 50% 0;
    -webkit-transform: rotate(-45deg) scale(0) translate(0);
    transform: rotate(-45deg) scale(0) translate(0);
    background-color: #3f51b5;
  }

  .slider-knob-inner:before, .slider-knob-inner:after {
    transition: -webkit-transform .2s ease, background-color .18s ease;
    transition: transform .2s ease, background-color .18s ease;
  }

  .slider-knob-inner:after {
    content: attr(data-value);
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 26px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    -webkit-transform: scale(0) translate(0);
    transform: scale(0) translate(0);
  }

  &.expand > .slider-knob > .slider-knob-inner:before {
    -webkit-transform: rotate(-45deg) scale(1) translate(17px, -17px);
    transform: rotate(-45deg) scale(1) translate(17px, -17px);
  }

  &.expand > .slider-knob > .slider-knob-inner:after {
    -webkit-transform: scale(1) translate(0, -17px);
    transform: scale(1) translate(0, -17px);
  }
}

